@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&display=swap'); /*se importa una direccion para buscar la fuente de la pagian de google*/

*{
    margin: 0;
    padding: 0;
}

header{
    background: #cccccc;
    width: 100%;
    height: 20vh;
    border: 3px solid #000000;
    margin: 3px 3px;
    position: relative;
}

h1{
    font-family: "Architects Daughter", sans-serif;
    position: absolute;
    top: 50px;
    left: 50px;
    font-style: italic;
    font-size: 40px;
}

#fuente{
    color: green;
    font-family:"Indie flower" sans-serif;
    font-size: 40px;
    text-transform: uppercase; /*text-transform se utiliza para cambiar el texto*/
    font-style: initial;
}

article {
    background: lightgreen;
    width: 85%;
    height: 80vh;
    margin: 1px 5px;
    border: 1px solid #ffffff;
    /*position: absolute;*/
    float: left;/*Se utiliza para mover una etiqueta a la derecha*/
}

article > div > h2 {
    font-size: 20px;
    font-family: sans-serif;
    margin: 4px;
    text-transform: uppercase; /*para que el texto se vea en mayusculas*/
}

article > div > #subtitulo2 {
    margin-left: 57%;
    clear: both;
    margin-top: -10px;
}

article > div > #subtitulo3 {
    margin-top: 20%;
}

article > div > #parrafo1 {
    width: 42%;
    height: 50%;
    text-align: justify;
    text-transform: uppercase;
    margin: 5px 5px;
    float: left;
}

article > div > #parrafo2
