@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu&display=swap'); /*se importa una direccion para buscar la fuente de la pagian de google*/

*{
    margin: 0;
    padding: 0;
}

header{
    background: #cccccc;
    width: 100%;
    height: 20vh;
    border: 3px solid #000000;
    margin: 3px 3px;
    position: relative;
}

h1{
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    top: 50px;
    left: 50px;
    font-style: italic;
    font-size: 40px;
}

#fuente{
    color: green;
    font-family:"Anton" sans-serif;
    font-size: 40px;
    text-transform: uppercase; /*text-transform se utiliza para cambiar el texto*/
    font-style: initial;
}

article {
    background: lightgreen;
    width: 85%;
    height: 80vh;
    margin: 1px 2px;
    border: 2px solid #ffffff;
    position: relative;
    float: left;
   
}

article > div > h2 {
    font-size: 20px;
    font-family: sans-serif;
    margin: 3px 3px;
    text-transform: uppercase; /*para que el texto se vea en mayusculas*/
}

article > div > #subtitulo2 {
    position: absolute;
    left: 55%;
    bottom: 91%;
}

article > div > #subtitulo3 {
    position: absolute;
    top: 50%;
}

article > div > p {
    width: 42%;
    height: 50%;
    text-align: justify;
    text-transform: uppercase;
    font-size: 17px;
}

article > div > #parrafo2{
    position: absolute;
    left: 53%;
    bottom: 41%;
}

article > div > #parrafo3 {
    position: absolute;
    top: 55%;
}

img{
    margin-top: 10px 10px;
    width: 46vw;
    height: 50vh;
    position: absolute;
    left: 43%;
    top: 33%;
}

aside{
    width: 10%;
    height: 60vh;
    float: left;
    /*position: relative;*/
}

#caja1{
    border: 2px solid #ffffff;
    background: lightgreen;
    width: 142%;
    height: 20vh;
}

#caja2{
    border: 2px solid #ffffff;
    background: #cccccc;
    width: 142%;
    height: 70vh;
}

footer{
    clear: both;
    width: 85%;
    height: 10vh;
    background: lightgreen;
    margin: 2px 2px;
    border: 1px solid #ffffff;

}
h6{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 20px;
    font-style: italic;
}