body{
    width: 50%;
    height: 50%;
    background-color: #cccccc;
    margin: 3% 25%;
}

.fila1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.fila1 > p{
    text-align: center;
    color: white;
    font-size: 16px;
    margin-left: -27%;
    margin-top: 6%;
    background: indianred;
    width: 6%;
    height: 30px;
}

.fila1 > h2{
    color: black;
    font-size: 42px;
    margin-left: -16%;
    margin-top: 4%;
}

.flex-start{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 28px;
    margin-right: -10%;
    width: 38%;
    height: 70px;
    background: ivory;
    border: 1px solid black;
}

.flex-start > div{
    width: 30px;
    height: 30px;
    background: indigo; 
    /*margin: 10px;
    padding: 20px;*/
}

.flex-start > .morado{
    background: palevioletred;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
    margin-left:1%;
}

.flex-start > .azul{
    background: teal;
    width: 22%;
    height: 90%;
    margin-top: 1% ;
}

.flex-start > .rosa{
    background: indianred;
    width: 18%;
    height: 90%;
    margin-top: 1% ;
}

.fila2{
    display: flex;
    flex-flow: row wrap;
}

.fila2 > P:nth-child(1){
    color: gray;
    font-size: 42px;
    margin-left: 2%;
    margin-top: -4%;
}

.fila2 > p:nth-child(2){
    color: black;
    font-size: 32px;
    margin-left: 65%;
    margin-top: -13%;
}

.fila2 > p:nth-child(3){
    color: gray;
    font-size: 22px;
    margin-left: 67%;
    margin-top: -9%;
}
}

.fila3{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: %;
    margin-right: -4%;
    width: 38%;
    height: 70px;
    background: ivory;
    border: 1px solid black;
}

.center > div{
    width: 30px;
    height: 30px;
    background: indigo; 
    /*margin: 10px;
    padding: 20px;*/
}

.center > .morado{
    background: palevioletred;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
    margin-left:1%;
}

.center > .azul{
    background: teal;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
}

.center > .rosa {
    background: indianred;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
}

.flex-end {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: -9%;
    margin-left: 55%;
    width: 38%;
    height: 70px;
    background: ivory;
    border: 1px solid black;
}

.flex-end > div{
    width: 30px;
    height: 30px;
    background: indigo;
    /*margin: 10px;
    padding: 20px;*/
}

.flex-end > .morado{
    background: palevioletred;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
}

.flex-end > .azul{
    background: teal;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
}

.flex-end > .rosa{
    background: indianred;
    width: 19%;
    height: 90%;
    margin-top: 1%;
    margin-right: 1%;
}

.texto{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.fila4{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.space-between{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 28px;
    margin-left: -14%;
    width: 38%;
    height: 70px;
    background: ivory;
    border: 1px solid black;
}

.space-between > div{
    width: 30px;
    height: 30px;
    background: indigo;
    /* margin: 10px;
    padding: 20px; */
}

.space-between > .morado{
    background: palevioletred;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
    margin-left: 1%;
}

.space-between > .azul {
    background: teal;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
}

.space-between > .rosa{
    background: indianred;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
    margin-right: 1%;
}

.space-around{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 28px;
    margin-right: -9%;
    width: 38%;
    height: 70px;
    background: ivory;
    border: 1px solid black;
}

.space-around > div{
    width: 30px;
    height: 30px;
    background: indigo;
    /* margin: 10px;
    padding: 20px; */
}

.space-around > .morado{
    background: palevioletred;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
}

.space-around > .azul{
    background: teal;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
}

.space-around > .rosa{
    background: indianred;
    width: 19%;
    height: 90%;
    margin-top: 1% ;
}

.texto > p:nth-child(1){
    color: black;
    font-size: 32px;
    margin-left: -25%;
    margin-top: 2%;
}

.texto > p:nth-child(2){
    color: black;
    font-size: 32px;
    margin-right: -15%;
    margin-top: 2%;
}
 
