body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex > .columna > div{
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.flex > .columnreverse{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.flex > .columnreverse > div{
    background: #000000;
    margin: 10px;
    padding: 20px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.flexrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fila{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filareversa{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.flexrow > .fila > div {
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.flexrow > .filareversa > div {
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.subtitulo{
    text-align: center;
}

.center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.justifycontent > .center > div{
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
.flex-start{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.justifycontent > .flex-start > div{
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

#subtitulo2{
    text-align: right;
    margin-right: 10px;
}

.flexend{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
/*este apartado es para dar diseño a los cuadro*/
.flexend > div {
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
.spacearound{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.spacearound > div {
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.spacebetween{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.spacebetween > div{
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.spaceevenly{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.spaceevenly > div{
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.itemscenter{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.itemscenter > div {
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}